.App {
  text-align: center;
  font-family: 'Oranienbaum', serif;;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Menu {
  display: flex;
  justify-content: space-between;
}

.Menu h1{
  display: inline-flex;
  padding: 0 50px;
}

.Menu p{
  display: inline-flex;
  padding: 0 50px;
}

.HeaderMain{
  display: flex;
  justify-content: space-between;
}

.ImageMeble{
  background-image: url(./img/meble1.jpg);
}

.HeaderText{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.HeaderText h1{
  font-size: 60px;
}

.HeaderText p{
  font-size: 30px;
}

.Button1{
  border: 3px solid rgba(40,40,40);
  color: rgba(225,225,225);
  background-color:#6D5B4A;
  font-size: 1.5em;
  width: 10em;
  height: 1.5em
}
.Button1:hover{
  color: rgba(40,40,40);
  background-color:#af8053;
  cursor: pointer;
}


.MiddleMain1{
  display: flex;
  text-align: left;
}

.MiddleMain1 .Section1 {
  margin: 50px;
}

.MiddleMain1 .Section2 {
  height: 150px;
}

.MiddleMain1 .Section2 img{
  max-height: 200px;
}


.MiddleMain2{
  background-color:#F1E8E0;
  display: flex;
}
.MiddleMain2 .Section1 {
  height: 600px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MiddleMain2 .Section1 img{
  max-height: 450px;
  margin: 10px;
}

.MiddleMain2 .Section2 {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.MiddleMain2 .Section2 .Paragraph1 {
  margin-top: 30px;
}

.MiddleMain2 .Section2 .Paragraph2 {
  margin-top: 30px;
}












.Pricing{
  background: #C4C4C4;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.Pricing p2{
  font-size: 25px;
  padding: 25px 50px;
}

.Pricing>*{
  justify-content: left;
  text-align: left;
}






.Footer{
  background: #4B3B2B;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.FooterLeft{
  padding: 20px;
}

.FooterRight{
  padding: 20px;
}
